# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/

# Environment variables
.env
.env.*

# Uploaded datasets
backend/data/uploads/*
backend/data/*.db
backend/data/*.duckdb

# Logs
*.log

# IDE
.vscode/

# Frontend dependencies
frontend/node_modules/

# Angular build output
frontend/dist/

# OS files
.DS_Store
Thumbs.db